@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap");
@import "./animation.css";

/* 主色系:aacdbe  f4f7c5   fbc687   ea907a  */

* {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1 rem;
}

body {
  margin: 0;
  background-color: #f4f7c5;
}

.navBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #aacdbe;
}

.navTitle {
  margin: 0;
  padding: 0 1rem;
}

.navItem {
  font-size: 0.9rem;
  width: 14vw;
  text-align: center;
}

.navItem:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navItem a {
  text-decoration: none;
  color: rgb(94, 71, 71);
  height: 3.5rem;
  line-height: 3.5rem;
}

.container {
  padding: 5vmin;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showCard {
  padding: 1rem;
  min-height: 30rem;
  max-width: 900px;
  flex-grow: 1;
  background-color: #fbc687;
  box-shadow: 0px 0px 10px 8px #e9c08f;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showCard-hover {
  animation: a-showCard-hover 1 1s ease;
  box-shadow: 5px 5px 10px 5px #e9c08f;
}

.showCard-hover-over {
  animation: a-showCard-hover-over 1 1s ease;
}

.table99 {
  table-layout: fixed;
  border-collapse: collapse;
}

.table99 td {
  border-left: 1vw solid #fbc687;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.table99 td:hover {
  border-color: #ea907a;
}

.form fieldset {
  /* width: 55vw; */
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3vh;
  border: 2px solid #ea907a;
  border-radius: 10px;
  /* text-align: center; */
}

.form fieldset legend {
  text-align: center;
}

.form div {
  border-bottom: 2px solid #ea907a;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.formBtnLine {
  text-align: center;
}

.formBtn {
  position: relative;
  background-color: #ea907a;
  border: 0;
  margin: 0 2px;
  font-size: 1rem;
  padding: 0.3rem 1rem;
}

.formBtn:hover {
  box-shadow: 3px 3px 5px #b6705f;
  top: -3px;
  left: -3px;
}

.formBtn:active {
  box-shadow: inset 3px 3px 5px #b6705f;
  top: 0px;
  left: 0px;
}

.formCheck img {
  width: 1rem;
}

.formCheckX {
  color: #cf3512;
  font-style: italic;
}

.formPrompt {
  font-size: 0.6rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}

.starRow {
  display: flex;
  flex-wrap: nowrap;
  max-width: calc(900px - 2rem);
}

.starRow img {
  flex-shrink: 1;
  width: 15vw;
  max-width: 150px;
}

.starRow + p {
  height: 1rem;
}

.carousel-container {
  max-width: 70vmin;
  overflow: hidden;
}

.carousel {
  display: flex;
  flex-direction: row;
  /* margin-left: -80vmin; */
}

.carousel-img {
  width: 70vmin;
}

.carousel-ctrl-btn{
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

#btn-carousel-toggle img{
  height: 1rem;
  line-height: 1rem;
}

.calendar{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.calendar select{
  width: 6rem;
}


.calendar-info-side{
  min-height: 20rem;
  min-width: 30vw;
  max-width: 300px;
}

.calendar > div {
  flex-grow: 1;
  border: 2px solid #ea907a;
  padding: 0rem 1rem 1rem 1rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.calendar > div > h3 {
  border-bottom: 2px solid #ea907a;
}



.disable {
  display: none;
}

.focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.margin-top-0 {
  margin-top: 0;
}

