#container {
    width: 700px;
    height: 700px;
    margin: 50px auto;
    border: 1px solid #444;
    padding: 20px;
    box-shadow: 2px 2px 10px #333;
    font-family: Arial;
}
.page-title {
    font-size: 1.2em;
    margin: 10px auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.filter label{
    display: inline-block;
    padding:5px 30px;
}
/*----------- 表格 -----------*/
table {
    width: 95%;
    height: 70%;
    border-collapse: collapse;
    text-align: center;
    border-bottom: 1px solid #444;
    margin: 20px;
    
    display: block;
    overflow: hidden; /* overflow僅適用於具指定高/寬的block元素(預設visible)*/
    white-space: nowrap; /*white-space預設normal(文字內容必要時會折行) */
}
    table thead th {
        border-bottom: 1px solid #444;
        width: 20%;
        padding: 10px;
        vertical-align: middle;
    }
    table tbody td {
        border-bottom: 1px dotted #444;        
        padding: 5px;       
    }
/*----------- 寬度 -----------*/
.width-large {
    width: 40%;
}
.width-small {
    width: 5%;
}
/*----------- 貼齊 -----------*/
.justify-left {
    text-align: left;
}
