@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>fetch() JSON Demo</title>
</head>
<body>
    <h2>Fetch Get JSON Demo</h2>
    <table border='1' id="demo"></table>
    <script>
        fetch('/res/book.json', { method: 'get' })
            .then(function (response) {
                return response.json();
            }).then(function (books) {
                var txt = "<tr><th>書籍名稱<th>作者名<th>出版社名<th>出版日期<th>價格";
                for (let i = 0; i < books.length; i++) {
                    txt += "<tr><td>" + books[i].title;
                    txt += "<td>" + books[i].author;
                    txt += "<td>" + books[i].publisher;
                    txt += "<td>" + books[i].publishDate;
                    txt += "<td>" + books[i].price;
                }
                document.getElementById("demo").innerHTML = txt;
            });
    </script>
</body>
</html>
