@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>$.post()</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    <h2>$.post Demo</h2>
    <div id="demo"></div>

    <script>
        $.post("/M13/NameCity",
            { name: "Stephen", city: "Tainan" },
            function (data, status) {
                if (status == "success")
                    $("#demo").html(data);
        });
    </script>
</body>
</html>
